.file-manager {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  color: rgb(0, 211, 0);
  background-color: #222;
}

.folder-list {
  width: 80%;
  height: 90%;
  padding: 1rem 2rem;

  list-style: none;

  border: 2px solid green;
  border-radius: 10px;
}

.list-item {
  background-color: #323232;
}

.list-item:nth-child(2n) {
  background-color: #373737;
}

/* .dir- {
  
} */

.file {
  padding: 0 1.3rem;
}

a {
  color: rgb(4, 190, 4);
  text-decoration: none;
  cursor: pointer;
}
